.social-container {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    .social-list {
        transform-origin: 0;
        transform: translateY(500px);
        opacity: 0;
        transition: all 0.2s linear;
    }
    .social-list-active {
        position: inherit;
        width: auto;
        opacity: 1;
        transform: translate(-3px, -338px);
        transition: all 0.2s linear;
    }
    .social-toggle {
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
    .social-icon {
        width: 50px;
        height: 50px;
        margin-top: 5px;
        opacity: 0.8;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        text-align: center;
        border-radius: 12px;
        background-color: aquamarine;
        line-height: 3.7;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
        svg {
            vertical-align: center;
            margin: auto;
            width: 40px;
            height: 40px;
        }
    }
    .social-icon:hover {
        background: black;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: 4px 4px 5px 0px rgba(255, 255, 255, 1);
        box-shadow: 4px 4px 5px 0px rgba(255, 255, 255, 1);
        // transform: translate(10px, 10px);
        path {
            fill: white!important;
        }
    }
    svg:hover {
        fill: white;
    }
}