.content {
    width: 80vw;
    margin: auto;
    margin-top: 29px;
    min-height: 90vh;
    border-radius: 5px;
}

.content::before {
    content: "";
    position: absolute;
    width: 80vw;
    margin: auto;
    min-height: 90vh;
    background-image: url('../assets/content-background.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    z-index: -1;
}

@media screen and (max-width:768px) {
    .content::before {
        content: "";
        background: rgba(58, 108, 133, 0.2);
        opacity: 0.7;
    }
    .inner-content {
        padding: 0;
    }
}

.inner-content {
    padding: 10px;
}

@media screen and(max-width:1000px) {
    .avatar {
        display: none;
    }
}