.content {
    padding: 15px 10px 15px 10px;
    width: 80vw;
    margin: auto;
    margin-top: 29px;
    min-height: 90vh;
    background-color: cornflowerblue;
    border: 2px solid gray;
    opacity: 0.8;
    z-index: 1;
    border-radius: 5px;
}

.mobile-title-only {
    display: none;
}

@media screen and(max-width:1000px) {
    .mobile-title-only {
        color: white;
        display: blocK;
    }
    .avatar {
        display: none;
    }
}