<app-nav-bar></app-nav-bar>
<!--<h2 class="mobile-title-only">
    {{configService.title}}
</h2>-->
<div class="content">
    <div class="inner-content">
        <router-outlet></router-outlet>
    </div>
    <!--<app-home-page *ngIf="configService.currentView == 'home'"></app-home-page>
    <app-about *ngIf="configService.currentView == 'about'"></app-about>
    <app-biography *ngIf="configService.currentView == 'biography'"></app-biography>
    <app-music *ngIf="configService.currentView == 'music'"></app-music>
    <app-stream *ngIf="configService.currentView == 'stream'"></app-stream>
    <app-settings *ngIf="configService.currentView == 'settings'"></app-settings>
    <app-photos *ngIf="configService.currentView == 'photos'"></app-photos>
    <app-code *ngIf="configService.currentView == 'code'"></app-code>-->
</div>
<app-foot-bar></app-foot-bar>