<h1>Biography</h1>
<div class="biography-article">
    <h3>What I've learned:</h3>
    The reach of a page is just not enough to say your advertisment gonna hit in like a Bomb. With that force we can change something, somehow in someway... I started mixing with 15 at a online radio with max. 2 listeners. We will see what is next up!
</div>
<div class="biography-article">
    <h3> DJ CAREER UNTIL NOW</h3>

    Before I start with the Details of myself, i want to say something: Experience and the love to music is not replaceable. References or technology will never sound as good as the brain and ears of us...
</div>
<div class="biography-article">
    <h3>MUSIC IS MY WORLD SINCE I CAN THINK.</h3>

    Open for anything kind of DJ'ing, Producing or VJ'ing in Duo or just support! I use following technology to fulfill my electronic dreams: Pioneer XDJ-Aero Pioneer DDJ-SB AKAI APC-Key 25 I started to mix with a DJM-300 and 2 CDJ-800 as part of a workshop!
</div>
<div class="biography-article">

    <h3> PAST: ONLINE RADIO</h3>
    I passed in the last four years a lot of differently sized online radios like GMS-Radio, TechLaRocca.FM, technoveranstaltungen.com. I always performed live shows via microphone or chat / webcam. But it really needed to much time, for nearly none reward
    for it. But now the show is actually pretty well so, lets see where it leads :)
</div>
<div class="biography-article">
    <h3> TODAY: PODCAST SHOW</h3>
    Currently I host a 2-Hour Podcast Show alongside many famous DJ's and DJane's like Gabriel Ananda, Marco Bailey and Carl Cox. The Show "House World" always airs 18 PM CET on Monday at In Progress Radio Followed by my genuine DJ Buddy Steve Stevens (Checkout
    his Mixcloud for some badass Techno)
</div>

<div class="biography-article">
    <h3> LIVE REFERENCES / GIG'S</h3>

    <ul class="biography-list">
        <li> Hype Club</li>
        <li> Mietbar (Mixcloud Set)</li>
        <li> Tequila Bar Shot</li>
        <li> Mr. Shisha</li>
        <li>
            Peace Me Up Festival
        </li>

    </ul>
    ... but doing this for many years unpaid, whether it is hunting for the best executed set, trying to sample the most amazing bassline or sound combos actually does!
</div>
<div class="biography-article">
    <h3> FUTURE? NOW OR NEVER!</h3>

    I will put the most of my effort to start over and play offline and play a very intense Set for more than 100 People. I have to admit, 4 AM in the morning hearing the people scream because they have a good time was the best feeling ever! Hopefully this
    will reach soon a person, who is maybe working in the club, a booking agency or any other techno or house based events. I hope creating this web page helps finding the one, who really wants to start something unique and exciting!
</div>
<div class="biography-article">
    While I was playing weekly as a Resident DJ on different Webradios, I also worked as the Admin and Supporter or Coder for them.
    <br> A friend begun technoveranstaltungen.de, and launched at the same time the webradio "Geschmack ist Techno"<br> I had to take care for a half year of the the job as Administrator, Moderator and Content Manager and DJ. They had around 7000 (Current:
    ~12000) Likes on their FB-Page.
</div>
<div class="clear-div"></div>