body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    background-image: url('../../assets/rave.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 3px 8px 3px 32px;
    text-decoration: none;
    font-size: 65px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#normal-nav {
    width: 98%;
    display: inline-block;
}

#navToggle {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

.simple-nav {
    width: 80.3%;
    position: fixed;
    top: -45px;
    list-style-type: none;
    margin-left: 9%;
    padding: 0;
    overflow: visible;
    opacity: 0.8;
    z-index: 3;
    background-color: forestgreen;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    border-radius: 5px;
}

.hovered {
    top: 0px;
}

.hovered-nav {
    transform: translate(0, 39px);
    top: -57px;
}

.nav-icon {
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    margin-right: 7px;
    width: 12px;
}

.simple-nav li .active {
    transform: translate(0, 15px);
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

i {
    border: solid black;
    border-width: 0 8px 8px 0;
    padding: 12px;
    z-index: 4;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    z-index: 4;
    float: right;
}

.arrow-down {
    /*right: 0%;*/
    /*top: 58px*/
}

.up {
    top: 74px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.hovered-arrow {
    transform: translate(0, 100px);
    opacity: 0;
    border-top-color: deepskyblue;
}

li {
    float: left;
    position: relative;
    right: 11px;
    margin-left: 10px;
    top: 14px;
}

.right-panel {
    float: right;
}

li a {
    display: block;
    color: white;
    border-radius: 3px;
    text-align: center;
    padding: 12px 26px;
    text-decoration: none;
}

.home {
    padding-right: 16%;
}

li .nav-item:hover,
.nav-icon:hover {
    background-color: deepskyblue
}

.menu-points {
    margin-left: 20%;
}

li .active {
    background-color: deepskyblue;
    position: relative;
    top: -4px;
    border: 1px solid white;
}

.item-active {
    position: relative;
    top: 10px;
}

@media (max-width:768px) {
    .arrow-container {
        display: none;
    }
    .arrow {
        display: none;
    }
    .simple-nav {
        display: none;
    }
}

@media(min-width:1000px) and (max-width:1280px) {
    .nav-item {
        padding: 16px 17px!important;
    }
    .menu-points {
        margin-left: 12%;
    }
}