/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 160%;
    color: white;
    margin-top: 0;
    background-image: url('./assets/Background-Main.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

html {}

.loader {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.social-icon:hover,
{
    background-color: black;
    transition: background-color 0.5s ease;
    transform: translate(-3px, -3px);
    path {
        fill: white!important;
        transition: fill 0.5s ease;
    }
}

.social-toggle:hover,
.active {
    path {
        fill: white!important;
        transition: fill 0.2s ease;
    }
}