<h1>
    dj diox homepage
</h1>
<p>
    Welcome to my Page! I am a fascinated dj and audioholic and 23 years old. <br /> Technologic is our future, and the future is now!
    <br /> I wish everyone has a lot of fun on this page, so as me!
    <br>
    <br> Don't miss my Sets (You can find it <a href="/music">here</a>)
    <br>
    <br> Regards!
</p>
<!--<p-accordion>
    <p-accordionTab header=" Music! ">
        Content 1
    </p-accordionTab>
    <p-accordionTab header="Gaming! ">
        Content 2
    </p-accordionTab>
    <p-accordionTab header="Programming! ">
        Content 3
    </p-accordionTab>
</p-accordion>-->

<!--<div class="news-container ">
    <div class="news-item ">
        <p>News Item</p>
    </div>
    <div class="news-item ">
        <p>News Item</p>
    </div>
    <div class="news-item ">
        <p>News Item</p>
    </div>
    <div class="news-item ">
        <p>News Item</p>
    </div>
    <div class="news-item ">
        <p>News Item</p>
    </div>
    <div class="news-item ">
        <p>News Item</p>
    </div>
</div>-->

<div class="chat-container ">

</div>