<h1>
    Home
</h1>
<p>
    Welcome to my Page for my DJ and Photographing stuff
</p>

<p-accordion>
    <p-accordionTab header="Music!">
        Content 1
    </p-accordionTab>
    <p-accordionTab header="Gaming!">
        Content 2
    </p-accordionTab>
    <p-accordionTab header="Programming!">
        Content 3
    </p-accordionTab>
</p-accordion>

<div class="news-container">
    <div class="news-item">
        <p>News Item</p>
    </div>
    <div class="news-item">
        <p>News Item</p>
    </div>
    <div class="news-item">
        <p>News Item</p>
    </div>
    <div class="news-item">
        <p>News Item</p>
    </div>
    <div class="news-item">
        <p>News Item</p>
    </div>
    <div class="news-item">
        <p>News Item</p>
    </div>
</div>

<div class="chat-container">

</div>